spring:
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
      location: /Users/leetaemin/upload/item
  config:
    activate:
      on-profile: dev

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

  datasource:
    url: ${db.local.url}
    driver-class-name: org.mariadb.jdbc.Driver
    username: ${db.local.username}
    password: ${db.local.password}

jwt:
  hash-key: ${secret.jwt.hash-key}
  expire-time: ${secret.jwt.expire-time}
  subject: ${secret.jwt.subject}