cloud:
  aws:
    credentials:
      accessKey: AKIAQBVIBHZW3BYXJ2W4       # AWS IAM AccessKey 적기
      secretKey: IJLFuYoR6uJ7TYCBrI3ai2FNSDbfUSF+avvdU9j0   # AWS IAM SecretKey 적기
    s3:
      bucket: hsge-bucket    # ex) marryting-gyunny
      dir: /pets # ex) /gyunny
    region:
      static: ap-northeast-2
    stack:
      auto: false
secret:
  jwt:
    hash-key: woongin-hsge-project-1234-!@#$
    expire-days: 7
    refresh-days: 30
    subject: hsge-project

fcm:
  api-uri: POST https://fcm.googleapis.com/v1/projects/hsge-af299/messages:send
  service-account-path: /${user.home}/firebase/hsge-firebase.json


report-count: 6