cloud:
  aws:
    credentials:
      accessKey: # AWS IAM AccessKey 적기
      secretKey: # AWS IAM SecretKey 적기
    s3:
      bucket: hsge-bucket    # ex) marryting-gyunny
      dir: /pets # ex) /gyunny
    region:
      static: ap-northeast-2
    stack:
      auto: false
secret:
  jwt:
    hash-key: woongin-hsge-project-1234-!@#$
    expire-days: 7
    refresh-days: 30
    subject: hsge-project

fcm:
  api-uri: POST https://fcm.googleapis.com/v1/projects/hsge-af299/messages:send
  service-account-path: classpath:firebase/hsge-firebase.json

report-count: 6